set surround
set number
set relativenumber
set clipboard=unnamed
set clipboard=unnamedplus
set ignorecase
set hlsearch
nnoremap gh :action ShowErrorDescription<CR>
nnoremap = :action ReformatCode<CR>
nnoremap J 5j
nnoremap K 5k
